.main-info {
    position: relative;
    display: flex;
    align-items: end;
}


.main-info__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.main-info__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.player__info {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.player__title {
    display: flex;
    gap: 18px;
    align-items: baseline;
}

.player__skin {
    width: 90px;
    height: 90px;
}

.player__name {
    font-size: 25px;
    font-weight: 700;
    transform: translateY(-8px);
}

.player__state {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
}

.server-change {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.player__buttons {
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: start;
}

.player__play-btn span {
    font-size: 20px;
    font-weight: 700;
}

.additional__btns {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.additional__btn {
    height: 42px;
    border-radius: 9px;
    width: 100% !important;
}

.additional__btn button {
    font-size: 20px;
    font-weight: 700;
    height: 38px;
    border-radius: 8px;
}

.additional__btn:first-child {
    background: linear-gradient(to left, #00457E 0%, #806491 68.75%);
}

.load-game {
    display: flex;
    align-items: center;
    gap: 32px;
}

.load-game__circle {
    width: 156px;
    height: 156px;
    background:  linear-gradient(137.69deg, #00457E -3.12%, #806491 53.22%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.load-game__circle div {
    width: calc(100% - 12px);
    height: 144px;
    background: linear-gradient(111.45deg, #17181C 0%, #1A1F34 82.7%);
    padding: 10px 40px;
    font-family: 'Gilroy', sans-serif;
    line-height: 100%;
    color: white;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight:700;
}

.load-game__info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
}

.load-game__info div {
    font-size: 24px;
    font-weight: 700;
}