.news {
    overflow-y: auto;
    height: 572px;
    padding-right: 8px;
    margin-top: 10px;
}

.news::-webkit-scrollbar {
    width: 6px;
    background: none;
}

.news::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #00457E 0%, #806491 51.56%);
    border-radius: 9em;
}

.news__container {
    display: flex;
    flex-direction: column;
}

.news__block {
    padding: 12px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news__block:not(:last-child) {
    border-bottom: 1px solid #C4C4C4;
}

.news__title {
    font-size: 24px;
    font-weight: 700;
}

.news__paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.news__inner {
    display: flex;
    margin-top: 6px;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.news_btn {
    height: 32px;
    border-radius: 6px;
}

.news_btn button {
    font-size: 12px;
    font-weight: 400;
    height: 28px;
    border-radius: 5px;
}