.connect-error {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.connect-error__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 18px;
}

.connect-error__title-block {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.connect-error__btn {
    transform: translateY(-5px);
    height: 46px;
    border-radius: 13px;
}

.connect-error__btn button {
    height: 42px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 12px;
}